.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(221, 100%, 63%);
  color: white;
  padding: 15px 25px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links li a {
  color: hsl(0, 0%, 7%);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.2s ease;
}

.nav-links li a:hover {
  color: hsl(0, 0%, 100%);
}


.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: hsla(221, 100%, 62%, 0.932);
    position: absolute;
    top: 60px;
    right: 0;
    width: 180px;
    border-radius: 10px;
    padding: 15px;
  }

  .nav-links.open {
    display: flex;
  }

  .menu-icon {
    display: block;
  }
}
