.card {
  
  background: white;
  border-radius: 2px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-8px);
}

.card-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 1rem;
}


.card-content h3 {
  font-size: 1.1rem;
  margin: 0.5rem 0;
}

.card-content p {
  color: #777;
  font-size: 0.9rem;
}

.card-content span {
  font-weight: bold;
  color: #0077b6;
}
